body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #140e20;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #140e20;
  border: none;        /* optional: remove border */
  border-radius: 0;    /* no rounded corners */
  width: 100%;
  height: 100vh;       /* full viewport height */
  max-width: 100%;     /* allow full stretch */
  box-shadow: none;    /* remove card shadow */
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center content vertically */
  align-items: center;     /* center horizontally */
}


.container > *:last-child {
  margin-bottom: 0;  /* space between sections */
}

video {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
h1 {
  color: silver;
  font-family: Poppins,impact;
  text-align: center;
}

img {
    width: 100%;
    max-width: 300px; 
    margin:0 auto;
    border-radius: 10px;
    display: block;
}

