body {
  background-color: #140e20;
  border: 2px solid darkblue;
  padding: 30px;
  margin: 30px;
  height: 100%
}
h1 {
  color: silver;
  font-family: Horizon,impact;
}

video {
     height: 500px;
     width: 707px;
}

