body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #140e20;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #140e20;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 30px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

.container > *:last-child {
  margin-bottom: 0;  /* space between sections */
}

video {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
h1 {
  color: silver;
  font-family: Poppins,impact;
  text-align: center;
}

img {
    width: 100%;
    max-width: 300px; 
    margin:0 auto;
    border-radius: 10px;
    display: block;
}

